@import '../../assets/variables.scss';

.login {
    &__wrapper {
        height: 100%;
        @include column-flex-container;
    }
    &__form {
        min-height: 300px;
        min-width: 300px;
        @include column-flex-container;
    }
}
