@import '../../assets/variables.scss';

.ui.segment {
    margin: 0;
}
.error-message {
    &__wrapper {
        width: 100%;
       @include column-flex-container;
    }
    width: 100%;  
    @include column-flex-container;
}

.ui.segment {
    &:last-child, &:first-child {
        margin-bottom: $space-xs;
    }
}