@import '../../assets/variables.scss';

.ui.segment {
    margin: 0;
}
.error-message {
    &__wrapper {
        height: 80%;
        width: 100%;
       @include column-flex-container;
    }
    width: 50%;
    height: 100px;
    @include column-flex-container;
}