$space-sm: 30px;
$space-lg: 70px;

@mixin centered-vertical-container($justify: 'center', $align: 'center') {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: column;
}

@mixin centered-horizontal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
