@import './variables.scss';

.users {
    &__list {
        @include column-flex-container;
    }
}

.new_author {
    width: 100%;
    @include centered-horizontal-container;
}

.new_author_form {
    width: 50%;
}

.manage {
    height: 100%;
    width: 100%;
}
