@import './variables.scss';

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.app {
    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        text-align: center;
    }
    &__header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        &__logo {
            margin-right: auto;
        }
        &__current-user {
            margin-left: -30px;
        }
    }
    &__wrapper {
        height: 81vh;
        padding-top: 10vh;
        flex: 1;
    }
}

#footer {
    margin-bottom: 0;
}