@import './variables.scss';

.app {
    &__footer {
        position:fixed;
        bottom:0;
        left:0;
        height: 5vh;
        text-align: center;
    }
    &__header {
        height: 10vh;
        &__logo {
            margin-right: auto;
        }
        &__current-user {
            margin-left: -30px;
        }
    }
    &__wrapper {
        height: 85vh;
        width: 100vw;
    }
}