@import './variables.scss';

.authors {
    display: flex;
    align-items: top;
    &--selected {
        width: 100%;
        @include column-flex-container(top, left);
    }
    &__name {
        width: 100%;
        text-align: center;
    }
    &__list {
        overflow-y: scroll;
        height: 90vh;
        width: 300px;
        background-image: $main-background;
        &-item {
            border-bottom: 3px solid $grey;
            padding: $space-sm;
        }
    }
}