.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__image {
        height: 80%;
        width: 100vw;
        object-fit: none;
    }
    &__label {
        height: 20%;
    }
    .ui.header {
        margin: 0;
    }
}