@import '../../assets/variables.scss';

.ui.cards {
    margin-top: $space-xs;
}

.users {
    &__list {
        @include column-flex-container;
    }
}

.admin {
    @include centered-horizontal-container;
    width: 100%;
    height: 80%;
    &__order{
        height: 80%;
        width: 70%;
        @include column-flex-container;
        &__items {
            @include centered-horizontal-container;
        }
    }
}